.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(13, 13, 15, 0.75);
    z-index: 1;
}

.overlay {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.85); */
    /* background-color: rgb(13, 13, 15, 0.8); */
    backdrop-filter: blur(8px);
    z-index: 100;
}

.add-btn-container {
    position: fixed;
    bottom: 0;
    right: 0;
}

.insert-btn {
    cursor: pointer;
    background-color: #AD7BE9;
    position: absolute;
    z-index: 100;
    color: whitesmoke;
    border: none;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    right: 1.35rem;
    bottom: 1.15rem;
}

.add-icon {
    width: 33px !important;
    height: 33px !important;
}
